/* App.css */
.container {
  max-width: 60%;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #000;
}

.row {
  display: flex;
  justify-content: space-around;
}

.original {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.original::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
  border: 4px solid gray;
  top: 3px;
  right: 0px;
}

.name {
  text-align: center;
}

.name p:first-child {
  font-weight: 700;
}

h1 {
  text-align: center;
}


.accordion-item {
  padding-left: 38px;
  overflow: hidden;
}

.accordion-header {
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  position: relative;
}

.accordion-header::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: -20px;
  background-color: #000;
  top: 35%;
}

.accordion-header::after {
  content: "";
  height: 100vh;
  width: 2px;
  background-color: #000;
  position: absolute;
  left: -16px;
  top: 25px;
}

.accordion-body {
  background-color: #fff;
  padding: 15px;
  font-size: 1rem;
}

.accordion-body ul {
  padding-left: 20px;
}

.accordion-body li {
  margin-bottom: 5px;
}

.accordion {
  overflow: hidden;
  padding-left: 40px;
}

.accordion-header h3 {
 margin-top: 0;
}
.accordion-item:last-child .accordion-header::after{
  content: unset;
}
img{
  width: 100%;
}

.imgsection {
  height: 269px;
  overflow-y: scroll;
}